header ul {
  display: inline-block;
  padding: 0;
  margin: 0 40px;
}

header li {
  display: inline-block;
  color: black;
  margin-left: 10px;
}

header a {
  text-decoration: none;
  color: black;
}

.topBar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 32px;
  background-color: #f0f0f0;
}

.headerMain {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
  width: 518px;
  height: 46px;
}

.searchBtn {
  position: absolute;
  background-image: url('../../assets/icon/search-btn.svg');
  background-size: cover;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.inputArea {
  padding: 14px 28px;
}
