.mainContainer {
  padding: 20px 20px;
}

h2 {
  color: black;
  font-size: 24px;
}

.categoryProductLabel {
  margin-bottom: 20px;
}

.textBlue {
  color: var(--Primary-100);
  width: 100px;
}

.textRed {
  color: var(--red);
}

.productSection {
  display: flex;
  border-top: 2px solid #f6699e;
}

.productSection label {
  margin: 20px 20px;
}

.productList {
  width: 900px;
}

.productList > li {
  float: left;
}

.productUnit {
  width: 160px;
  height: 269px;
  padding: 22px 7px 0 15px;
}

.productUnit > span {
  display: block;
}

.productName {
  font-size: 12px;
}
