.mainSearchContainer {
  padding: 20px 200px;
}

.mainSearchLabel {
  margin-bottom: 30px;
}

.filterBox {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #f0f0f0;
  padding: 14px 20px;
}

.filterLi {
  margin: 0;
  padding: 0;
}

.filterBox li {
  cursor: pointer;
  float: left;
  width: 120px;
  text-align: center;
}

.productSection {
  display: flex;
}

.productSection label {
  margin: 20px 20px;
}

.productList {
  width: 900px;
}

.productList > li {
  float: left;
}

.productUnit {
  width: 160px;
  height: 269px;
  padding: 22px 7px 0 15px;
}

.productUnit > span {
  display: block;
}

.productName {
  font-size: 12px;
}
