.myPage {
  align-items: center;
  margin: 83px 150px;
}

.label {
  font-size: 30px;
  margin-bottom: 27px;
}

.myPageContainer {
  display: flex;
}

.myPageSection {
  margin: 53px 0 24px;
}

.content {
  display: flex;
}

.myPageContent {
  margin: 44px 54px;
  width: 80%;
}

.listbox {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 19px 0 20px 20px;
}

.listLabel {
  font-size: 24px;
  color: #5b89ff;
  margin-bottom: 18px;
}

.listboxLabel {
  font-size: 18px;
  width: 232px;
}

.listboxContent {
  font-size: 18px;
}

/* a tag */
.goPage {
  background-color: #d9d9d9;
  padding: 8px 32px;
  text-decoration: none;
  cursor: pointer;
}

.listboxButton {
  display: flex;
  justify-content: right;
  margin-top: 32px;
}
