body {
  margin: 0;
  /* background-color: #000000; */
  color: #fff;
}

.wrap {
  margin: 0 auto;
  padding: 12px;
  max-width: 1080px;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  padding: 16px;
  font-weight: 700;
  background-color: #ffffff;
}

footer {
  position: relative;
  width: 100%;
  top: 0;
  height: 137px;
  padding: 16px;
  font-weight: 700;
}

.borderLine {
  width: 100vw;
  left: 0;
  height: 1px;
  background: #dfe3e8;
}
